main {
    user-select: none;
}

.default-font {
    font-family: "Roboto", sans-serif;
    user-select: none;
}

.header-content {
    padding: 8px 30px !important;
    height: 8vh;
    background-color: black;
}


.logo {
    color: #f5f5f5;
    text-align: center;
    font-weight: bold;
    line-height: 44px;
    text-decoration-line: underline;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.wrapper {
    margin: 0 auto;
    width: 84vw;
}

.column-wrapper {
    height: 92vh;
}

.card-frame {
    width: 20%;
    height: 20%;
    padding: 10px;
    font-size: 18pt;
    box-sizing: border-box;
}

@media (min-height: 900px) {
    .card-frame {
        height: 135px;
        font-size: 24pt;
    }
}

.card-wrapper {
    border-radius: 10px;
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #9a9a9a;
    padding: 10px 2px 2px 2px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-height: 900px) {
    .card-wrapper {
        padding: 13px 3px 3px 3px;
    }
}

.card-inner {
    border-radius: 8px;
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 25px 15px 7px 15px;
    background-color: #dcdcdc;
}

@media (min-height: 900px) {
    .card-inner {
        padding: 40px 12px 8px 12px;
    }
}

.card-name {
    border-radius: 5px;
    background-color: #f5f5f5;
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected {
    background-color: #ffff80;
    border-radius: 10px;
}

.caught {
    background-color: #ff6666;
}

.current-player {
    color: #1a8309;
}

.your-card {
    background-color: #80ff80;
}

.flex-block {
    display: flex !important;
    flex-wrap: wrap;
}

.desk {
    width: 84%;
    height: 80%;
}

.vertical-arrows {
    display: flex !important;
    margin: 0 8%;
    width: 84%;
}

.horizontal-arrows {
    display: flex !important;
    flex-direction: column;
    width: 8%;
    align-items: center;
    justify-content: space-around;
}

.arrow {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 32pt;
    text-align: center;
    color: #9a9a9a;
    cursor: pointer;
}

@media (min-height: 900px) {
    .arrow {
        font-size: 38pt;
    }
}

.enabled-arrow:hover {
    color: black;
}

.vertical-arrow {
    width: 20%;
    height: 10%;
}

.horizontal-arrow {
    height: 20%;
    width: 100%;
    padding-top: 20px;
}

.block-wrapper {
    padding: 10px 20px;
    width: 100%;
}

.info-block {
    background: #ffffff;
    border: 5px solid #808080;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 100%;
    display: inline-block;
    padding: 10px 0px;
}

.action-log {
    padding: 10px 15px;
    font-size: small;
    font-weight: bold;
    overflow-y: auto;
    z-index: 10;
    display: flex;
    flex-direction: column-reverse;
    height: 20vh;
}

@media (min-width: 2000px) {
    .action-log {
        font-size: 20px;
    }
}

.white-stripe {
    padding: 0 0 0 5px;
}

.dark-stripe {
    background-color: #cccccc;
    border-radius: 2px;
    padding: 0 0 0 5px;
}

.action-button {
    background: #007bff;
    border-radius: 10px;
    width: 70%;
    margin: 15px 15%;
    height: 40px;
    font-size: 24px;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.action-button:hover {
    background: #0069d9;
}

.active-button {
    background: #0069d9;
    -webkit-box-shadow: inset 0px 0px 10px #565762;
    -moz-box-shadow: inset 0px 0px 10px #565762;
    box-shadow: inset 0px 0px 10px #565762;
}

.player-badge {
    border-radius: 10px;
    width: 80%;
    margin: 10px 10% 20px;
    padding: 5px 10px;
    display: inline-block;
    font-size: 20px;
    text-align: left;
    vertical-align: middle;
    background-color: #dcdcdc;
}

.turn {
    width: 80%;
    margin: 5px 10%;
    height: 25px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
}

.header-label {
    font-size: 2.5vh;
    color: #f5f5f5;
    cursor: pointer;
}

.header-link {
    color: white;
    font-size: 3vh;
}

button > .header-link {
    font-size: 2.5vh;
}

@media (max-width: 600px) {
    .header-link {
        font-size: 2vh;
    }

    button > .header-link {
        font-size: 1.1vh;
    }

    .header-label {
        font-size: 1.1vh;
    }
}

@media (max-width: 750px) and (min-width: 601px) {
    .header-link {
        font-size: 2vh;
    }

    button > .header-link {
        font-size: 1.5vh;
    }

    .header-label {
        font-size: 1.5vh;
    }
}


.header-link:hover {
    color: white;
    text-decoration: underline;
}

.header-link:visited {
    color: white;
}

.user-form-container {
    height: 90vh;
}

.user-form {
    border: black 3px solid;
    border-radius: 30px;
    padding: 40px;
}

@media (min-width: 1200px) {
    .user-form {
        width: 35%;
    }
}

@media (min-width: 1600px) {
    .user-form {
        width: 45%;
        font-size: 22px;
    }
}

@media (min-width: 1600px) {
    .user-form > h3 {
        font-size: 40px;
    }
}

@media (max-width: 550px) {
    .user-form {
        width: 90%;
        font-size: 15px;
    }
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: none;
    margin-top: 20px;
    margin-bottom: 20px;
}


::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    padding: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (min-width: 1600px) {
    .lobby-content {
        font-size: 23px;
        min-width: 80%;
    }
}