<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="Sergeenko Egor / Sinichenko Konstantin" name="authors">
    <meta content="Noir" name="description">
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block title %}
    {% endblock %}
</head>
<body>
<header>
    <div class="container-fluid header-content d-flex align-items-center">
        <div class="w-100 row d-flex align-items-center justify-content-around">
            <div class="col">
                <div class="float-left header-label">{% if room_name %}
                    <a class='header-link' href="{% url 'lobby' %}">⮨ {{ room_name }}</a>
                {% endif %}</div>
            </div>
            <div class="col">
                <div class="logo">
                    <a class='header-link' href="{% url 'lobby' %}">
                        <u>NOIR</u>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="float-right header-label d-flex">
                    {% if user.is_authenticated %}
                        <form method="post" action="{% url 'logout' %}">
                            {{ user.username }} |
                            {% csrf_token %}
                            <button style="background: none; border: none" type="submit">
                                <a class="header-link">Log out</a>
                            </button>
                        </form>
                    {% else %}
                        <a class="header-link" href="{% url 'login' %}">Log in</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
{% block content %}
{% endblock %}
</body>
</html>